*{
    box-sizing: border-box;
}
.carta{
    display:flex;
    background-color:white;
    font-family: "Recursive";
    font-weight: 700;
    color:#333333;
    width: 80%;
    height: 60px;
    margin-bottom:15px;
    justify-content: space-between;
    align-items: center;
    border-radius:5px;
    
}
.carta img{
    width: 20px;
    height: 23px;
}
.carta.enunciado{
    background-color:#FFFFD4;
    height: 120px;
    flex-direction: column;
}
.carta.cartaResposta{
    flex-direction: column;
    background-color: #FFFFD4;
    height: 120px;
}
.carta.cartaResposta img{
    display:none;
}
.carta.final{
    background-color:white;
    
}
.pergunta{
    margin-left:10px;
}
.icone{
    margin-right:10px;
}
.certo{
color:#2FBE34;
text-decoration: line-through;
}
.errado{
    color:#FF3030;
    text-decoration: line-through;
}
.quase{
    color:#FF922E;
    text-decoration: line-through;
}
.imagem{
    display:flex;
    
    width: 95%;
    height:30%;
    justify-content: flex-end;
    align-items: center;
}
.texto{
    display:flex;
    width: 95%;
    height: 65%;
    justify-content: flex-start;
    margin-top:5%;
}